.App {
  text-align: center;
  background-color: #9f9f9f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS */
.homeButton{
  appearance: none;
  background-color: #256eaa;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 6px 16px;
  margin-top:  25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 185px;
}

.homeButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.homeButton:hover {
  background-color: #256eaa;
}

.homeButton:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.homeButton:disabled {
  background-color: #256eaa;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.homeButton:active {
  background-color: #256eaa;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.forgotButton{
  appearance: none;
  background-color: #256eaa;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 10px;
  font-weight: 600;
  line-height: 8px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  height: 20px;
  margin-right: 60px;
  margin-top: 15px;
}

.forgotButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.forgotButton:hover {
  background-color: #256eaa;
}

.forgotButton:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.forgotButton:disabled {
  background-color: #256eaa;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.forgotButton:active {
  background-color: #256eaa;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.loginForm{
  background-color: #9f9f9f;
  width: 500px;
  font-size: calc(7px + 2vmin);
  height: 500px;
  border-radius: 10px;
}

.mood{
  background-color: #9f9f9f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 1000px;
}

.moodHeadline{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moodemojis{
  display: flex;
  top: 50%;
}

.label{
  font-size: calc(2px + 2vmin);
}

.input {
  border-radius: 10px;
  outline: 2px solid #256eaa;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e2e2e2;
  outline-offset: 4px;
  padding: 10px 1rem;
  transition: 0.25s;
  height: 10px;
  margin-top: 13px;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff
}

.notFound{
  background-color: #4c4f4d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.otpInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.otp-container{
  color: black;
}

.phoneInput{
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: black;
}

.flag-dropdown{
  display: flex;
  margin-right: 270px;
}

#loginstatus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color:rgb(130, 10, 10)
}

#registerStatus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color:rgb(0, 0, 0)
}

#emailstatus{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color:rgb(0, 0, 0);
  margin-top: 10px;
}

.text-password{
  font-size: 15px;
  margin-right: 110px;
}

.text-email{
  font-size: 15px;
  margin-right: 140px;
}

.dashback{
  background-color: #9f9f9f;
  height: 1000px;
}

.logoutButton{
  color:inherit;
  text-decoration: none;
}

#outer-container{
  top: 0px;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border{border-style: solid;}

.schedulerComponent{
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-left: 15%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-height: 700px;
}